### Pandas 기초
- 데이터 처리 라이브러리

#### Pandas처리
```shell
!pip install pandas
```

#### PyArrow 설치
- Pandas에 새로 추가된 라이브러리
```shell
!pip install pyarrow
```

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\dev\langs\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\dev\langs\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

- Pandas 사용

In [3]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.16.6 in c:\dev\langs\python311\lib\site-packages (from pyarrow) (1.26.3)
Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl (25.2 MB)
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
    --------------------------------------- 0.3/25.2 MB 6.8 MB/s eta 0:00:04
   - -------------------------------------- 0.9/25.2 MB 9.0 MB/s eta 0:00:03
   -- ------------------------------------- 1.4/25.2 MB 9.8 MB/s eta 0:00:03
   --- ------------------------------------ 1.9/25.2 MB 10.3 MB/s eta 0:00:03
   --- ------------------------------------ 2.5/25.2 MB 10.6 MB/s eta 0:00:03
   ---- ----------------------------------- 3.0/25.2 MB 10.8 MB/s eta 0:00:03
   ----- ---------------------------------- 3.6/25.2 MB 10.9 MB/s eta 0:00:02
   ------ --------------------------------- 4.2/25.2 MB 11.1 MB/s eta 0:00:02
   ------- -------------------------------- 4.7/25.2 MB 11.1 MB/s eta 0:00:02
   -------- ------------------------------- 5.3/25.2 MB 11.2 MB/s eta 0:00:02
   --------- ------------------------------ 5.8/25.2 MB 10.9 MB/s eta 0:00:02
   ---------- ----------------------------- 6.4/25.2 MB 11.0 MB/s eta 0:00:02
   ----------- ---------------------------- 6.9/25.2 MB 11.1 MB/s eta 0:00:02
   ----------- ---------------------------- 7.4/25.2 MB 11.0 MB/s eta 0:00:02
   ------------ --------------------------- 7.9/25.2 MB 11.2 MB/s eta 0:00:02
   ------------- -------------------------- 8.4/25.2 MB 10.9 MB/s eta 0:00:02
   -------------- ------------------------- 8.9/25.2 MB 11.0 MB/s eta 0:00:02
   --------------- ------------------------ 9.5/25.2 MB 11.1 MB/s eta 0:00:02
   --------------- ------------------------ 10.1/25.2 MB 11.1 MB/s eta 0:00:02
   ---------------- ----------------------- 10.6/25.2 MB 11.5 MB/s eta 0:00:02
   ----------------- ---------------------- 11.2/25.2 MB 11.5 MB/s eta 0:00:02
   ------------------ --------------------- 11.7/25.2 MB 11.5 MB/s eta 0:00:02
   ------------------- -------------------- 12.3/25.2 MB 11.5 MB/s eta 0:00:02
   -------------------- ------------------- 12.8/25.2 MB 11.5 MB/s eta 0:00:02
   --------------------- ------------------ 13.4/25.2 MB 11.5 MB/s eta 0:00:02
   ---------------------- ----------------- 13.9/25.2 MB 11.5 MB/s eta 0:00:01
   ----------------------- ---------------- 14.5/25.2 MB 11.5 MB/s eta 0:00:01
   ----------------------- ---------------- 15.1/25.2 MB 11.5 MB/s eta 0:00:01
   ------------------------ --------------- 15.6/25.2 MB 11.5 MB/s eta 0:00:01
   ------------------------- -------------- 16.2/25.2 MB 11.5 MB/s eta 0:00:01
   -------------------------- ------------- 16.7/25.2 MB 11.5 MB/s eta 0:00:01
   --------------------------- ------------ 17.3/25.2 MB 11.5 MB/s eta 0:00:01
   ---------------------------- ----------- 17.8/25.2 MB 11.7 MB/s eta 0:00:01
   ----------------------------- ---------- 18.3/25.2 MB 11.7 MB/s eta 0:00:01
   ----------------------------- ---------- 18.9/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 19.4/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------------- -------- 19.8/25.2 MB 11.5 MB/s eta 0:00:01
   -------------------------------- ------- 20.4/25.2 MB 11.5 MB/s eta 0:00:01
   --------------------------------- ------ 20.9/25.2 MB 11.5 MB/s eta 0:00:01
   --------------------------------- ------ 21.0/25.2 MB 11.5 MB/s eta 0:00:01
   --------------------------------- ------ 21.0/25.2 MB 11.5 MB/s eta 0:00:01
   ---------------------------------- ----- 21.5/25.2 MB 10.4 MB/s eta 0:00:01
   ----------------------------------- ---- 22.1/25.2 MB 10.4 MB/s eta 0:00:01
   ----------------------------------- ---- 22.6/25.2 MB 10.4 MB/s eta 0:00:01
   ------------------------------------ --- 23.1/25.2 MB 10.6 MB/s eta 0:00:01
   ------------------------------------ --- 23.1/25.2 MB 10.6 MB/s eta 0:00:01
   ------------------------------------ --- 23.2/25.2 MB 9.6 MB/s eta 0:00:01
   ------------------------------------- -- 23.8/25.2 MB 9.6 MB/s eta 0:00:01
   -------------------------------------- - 24.3/25.2 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------  24.9/25.2 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.2 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 25.2/25.2 MB 9.2 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-17.0.0

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd # pd로 줄여씀

#### 판다스 기본
- 시리즈, 데이터 프레임 개념
- 판다스에서는 데이터프레임이 가장 기본. 데이터 처리도중 잘라서 시리즈를 사용함

<img src="https://raw.githubusercontent.com/hugoMGSung/bigdata-analysis-2024/main/images/ba001.png" width="730">

In [6]:
# 데이터프레임 객체 - 2차원 배열
## 딕셔너리로 DataFrame을 생성
origin = {'이름' : ['성유고', '애슐리', '홍길동'], '나이' : [47, 40, 99], '결혼' : [True, True, False]}
origin, type(origin)

({'이름': ['성유고', '애슐리', '홍길동'], '나이': [47, 40, 99], '결혼': [True, True, False]},
 dict)

In [8]:
## 딕셔너리로 데이터프레임 생성, 변수명을 보통 df로 사용
df = pd.DataFrame(data=origin)
df

    이름  나이     결혼
0  성유고  47   True
1  애슐리  40   True
2  홍길동  99  False

In [9]:
# 데이터 프레임타입
type(df)

pandas.core.frame.DataFrame

In [11]:
## 2. 파이썬 리스트로 데이터프레임생성
data = [['성유고', 47, '부산', True],
        ['애슐리', 40, '부산', True],
        ['홍길동', 99, '경성', False],
        ['홍길순', 90, '경성', False]]
df2 = pd.DataFrame(data=data)
df2

     0   1   2      3
0  성유고  47  부산   True
1  애슐리  40  부산   True
2  홍길동  99  경성  False
3  홍길순  90  경성  False

In [12]:
## 리스트로 DF를 만들면 컬럼 제목이 없기때문에 추가를 해줘야함\
df2 = pd.DataFrame(data=data, columns=['이름', '나이', '주소', '결혼'])
df2

    이름  나이  주소     결혼
0  성유고  47  부산   True
1  애슐리  40  부산   True
2  홍길동  99  경성  False
3  홍길순  90  경성  False